#-------------------------------------------------------------------------------------------------------------------------------
# DB ENV VARIABLES
#-------------------------------------------------------------------------------------------------------------------------------
DB_SENHA=                                                                   # Senha do banco de dados
DB_USER=                                                                    # Usuário do banco de dados
DB_NAME=                                                                    # Nome do banco de dados
DB_PORT=                                                                    # Porta do host e do docker do banco de dados
DB_NOME_CONTAINER=                                                          # Nome do container do banco de dados    
DB_BANCO=                                                                   # Usuário do banco de dados

#-------------------------------------------------------------------------------------------------------------------------------
# FRONT ENV VARIABLES
#-------------------------------------------------------------------------------------------------------------------------------
FRONT_NOME_IMAGEM=                                                          # Nome da imagem buildada do front
FRONT_PORT=                                                                 # Porta do host e do docker do front
FRONT_NOME_CONTAINER=                                                       # Nome do container do front

#-------------------------------------------------------------------------------------------------------------------------------
# BACK ENV VARIABLES
#-------------------------------------------------------------------------------------------------------------------------------
BACK_NOME_IMAGEM=                                                           # Nome da imagem buildada do back
BACK_PORT=                                                                  # Porta do host e do docker do back
BACK_NOME_CONTAINER=                                                        # Nome do container do back
OPENAI_API_KEY=                                                             # Chave da API