#-------------------------------------------------------------------------------------------------------------------------------
# DB ENV VARIABLES
#-------------------------------------------------------------------------------------------------------------------------------
DB_USER=
DB_NAME=
DB_SENHA=                                                                   # Senha do banco de dados
DB_PORT=                                                                    # Porta do host e do docker do banco de dados
DB_NOME_CONTAINER=                                                    # Nome do container do banco de dados

#-------------------------------------------------------------------------------------------------------------------------------
# FRONT ENV VARIABLES
#-------------------------------------------------------------------------------------------------------------------------------
FRONT_NOME_IMAGEM=                                                          # Nome da imagem buildada do front
FRONT_PORT=                                                                 # Porta do host e do docker do front
FRONT_NOME_CONTAINER=                                                       # Nome do container do front

#-------------------------------------------------------------------------------------------------------------------------------
# Scraping
CAMINHO_CHROME=

# ------------------------------------------------------------------------------------------------------------------------------
# IA
OPENAI_API_KEY=